/Mobile/node_modules/**/*
/Mobile/.expo/*
/Mobile/npm-debug.*
/Mobile/*.jks
/Mobile/*.p8
/Mobile/*.p12
/Mobile/*.key
/Mobile/*.mobileprovision
/Mobile/*.orig.*
web-build/

# macOS
/Mobile/.DS_Store


/.pnp
.pnp.js
/coverage
/build

.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*


#Node Modules
/Web/node_modules
/NodeJS/node_modules
/Mobile/node_modules